asn1crypto==0.24.0
attrs==18.1.0
autobahn==18.5.2
Automat==0.6.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==6.7
constantly==15.1.0
cryptography==2.2.2
Flask==1.0.2
hyperlink==18.0.0
idna==2.6
numpy==1.14.3
scikit-learn==0.19.1
slackclient==1.2.1